<main>
  <h3>About</h3>
  <button id="about-more-btn" type="button">Learn more</button>
</main>

<div class="supporting-section">
  <h3>About Subheading</h3>
  <ul>
    <li>Menu item 1</li>
    <li>Menu item 2</li>
    <li>Menu item 3</li>
  </ul>
  <button id="about-sign-up-btn" type="button">Sign Up</button>
</div>