<main>
  <h3>Home page</h3>
  <%= link_to "Learn more", "/pages/about" %>
</main>

<div id="secondary-section">
  <%= image_tag "9rRCQ.png" %>
</div>

<div id="discover-section">
  <h3>Dicscover heading</h3>
  <%= link_to "Learn more", "/pages/about" %>
</div>

