<main>
  <h3>Main heading</h3>
  <button id="main-btn" type="button">Learn more</button>
</main>

<div id="supporting-section">
  <h3>Subheading</h3>
  <ul>
    <li>Menu item 1</li>
    <li>Menu item 2</li>
    <li>Menu item 3</li>
  </ul>
</div>

<div id="secondary-section">
  <%= image_tag "9rRCQ.png" %>
</div>

<div id="discover-section">
  <h3>Dicscover heading</h3>
  <button id="discover-btn" type="button">Learn more</button>
</div>

<footer>
  <h4>Footer</h4>
</footer>